<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title> StackApi</title>
</head>

<body>
    <div class=".container">
        <div class="row" *ngIf="!obtained_data">
            <div class="col-md-10 m-5">
                <h2 class="jumbotron text-center"> Stack Api Demo</h2>
                   <div class="form-group">
                      <label for="tagged">Included Tags :</label>
                      <div *ngFor="let tag of included_tag_list" style="display:inline">
                          <button class="btn btn-success m-1">
                              {{tag}}
                              <button type="button" class="close" aria-label="Close"
                                (click)="removeTag(tag, included_tag_list)">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </button>
                      </div>
                      <div>
                        <input type="text" #in_tag>
                        <button class="btn btn-primary m1" (click)="onAddTags(in_tag.value)"
                        > Add</button>
                      </div>
                    </div>
                    <div class="form-group">
                      <label >Excluded Tags :</label>
                      <div *ngFor="let tag of excluded_tag_list"
                           style="display:inline">
                          <button class="btn btn-success">
                              {{tag}}
                              <button type="button" class="close" aria-label="Close"
                                (click)="removeTag(tag, excluded_tag_list)">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </button>
                      </div>
                      <div>
                        <input type="text" #ex_tag>
                        <button class="btn btn-primary" (click)="onAddExTags(ex_tag.value)"> Add</button>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="intitle">Title Contains</label>
                        <input
                          type="text"
                          id="intitle"
                          [(ngModel)] = FormData.intitle
                          class="form-control">
                    </div>
                    <div>
                        <div class="form-group col-md-5" style="float: left">
                            <label for="fromdate">From Date</label>
                            <input
                              type="date"
                              id="fromdate"
                              [(ngModel)] = FormData.fromdate
                              name="fromdate"
                              required
                              class="form-control">
                        </div>
                        <div class="form-group col-md-5" style="float: left">
                            <label for="todate">End Date</label>
                            <input
                              type="date"
                              id="todate"
                              [(ngModel)] = FormData.todate
                              name="todate"
                              required
                              class="form-control">
                        </div>
                    </div>
                    <div class="col-md-10 my-auto ">
                      <div class="form-group col-md-3" style="float: left">
                        <label for="max">Max</label>
                        <input
                          type="number"
                          id="max"
                          [(ngModel)] = FormData.max
                          name="max"
                          class="form-control">
                      </div>
                      <div class="form-group col-md-3" style="float: left">
                          <label for="min">Min</label>
                          <input
                            type="text"
                            id="min"
                            [(ngModel)] = FormData.min
                            name="min"
                            class="form-control">
                      </div>
                      <div class="form-group col-md-3" style="float: left">
                          <label for="number_of_results">Number of Results</label>
                          <input
                            type="text"
                            id="number_of_results"
                            [(ngModel)] = FormData.number_of_results
                            name="number_of_results"
                            class="form-control">
                      </div>
                    </div>
                    <div class="col-md-10 my-auto ">
                        <div class="col-md-5" style="float: left">
                            <label for="sort">Sorting</label>
                            <select
                              ngModel
                              name="sort_odr"
                              [(ngModel)] = FormData.sort
                              id="sort_odr"
                              class="form-control">
                                <option
                                  *ngFor="let sort of sort_select"
                                  value="{{sort}}">{{sort}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-5" style="float: left">
                            <label for="select_odr">Order</label>
                            <select
                              name="select_odr"
                              id="select_odr"
                              [(ngModel)]=FormData.order
                              class="form-control">
                                <option
                                  *ngFor="let ord of order_select"
                                  value="{{ord}}">{{ord}}
                                </option>
                            </select>
                        </div>
                    </div>
                  <br>
              <button
                class="btn btn-primary mt-1"
                  (click)="FormSubmit()"
                  type="submit">
                    Submit
                  </button>

            </div>
        </div>
        <div class="row" *ngIf="obtained_data">
            <div class="col-md-10 m-5">
                <h3 class="jumbotron center_align"> Requested data </h3>
        <button
        class="btn btn-success m-1"
        (click)="refresh_page()"
        >Homepage</button>
        <div>
          <table class="table table-hover">
            <br>
            <tr >
                <th>Sr.no</th>

                <th>Title </th>
                <th>Link</th>
                <th>Answered</th>
                <th>Score</th>
                <th>Owner Name</th>
                <th>Owner Link</th>

            </tr>
            <tr *ngFor="let data of obtained_data['items']; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ data['title']}}</td>
                <td><a href="{{ data['link'] }}">Questing link</a></td>
                <td>{{data['is_answered']}}</td>
                <td>{{ data['score']}}</td>
                <td>{{ data['owner']['owner_name'] }}</td>
                <td><a href="{{ data['owner']['link'] }}">Link</a></td>
            </tr>
      </table>
      <br>
            </div>
        </div>

    </div>
    </div>
</body>
